<div class="grid">
    <div class="col-12">
        <h1>Zonas prestamos</h1>
        <div class="card">
            <div class="my-2">
                <button class="btn btn-outline-success opacity-75 btn-lg mx-3">Insertar</button>
                <button class="btn btn-outline-danger opacity-75 btn-lg mx-3">Borrar</button>
                <button class="btn btn-outline-secondary opacity-75 btn-lg mx-3">Editar</button>
            </div>
            <table class="table table-success table-striped table-bordered table-hover shadow-sm">
                <thead>
                  <tr>
                    <th scope="col">Codigo zona</th>
                    <th scope="col">Descripción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">57</th>
                    <td>Colombia</td>
                  </tr>

                </tbody>
              </table>
        </div>
    </div>
</div>

