<div class="grid">
    <div class="col-12">
        <h1>Zonas</h1>
        <div class="card">
            <div class="my-2">
                <button class="btn btn-outline-success opacity-75 btn-lg mx-3">Insertar</button>
                <button class="btn btn-outline-danger opacity-75 btn-lg mx-3">Borrar</button>
                <button class="btn btn-outline-secondary opacity-75 btn-lg mx-3">Editar</button>
            </div>
            <table class="table table-success table-striped table-bordered table-hover shadow-sm">
                <thead>
                  <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Porcentaje</th>
                    <th scope="col">Comentario</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Norte</td>
                    <td>10.00</td>
                    <td></td>
                  </tr>

                </tbody>
              </table>
        </div>
    </div>
</div>
