<div class="grid">
    <div class="col-12">
        <h1>Bancos</h1>
        <div class="card">
            <table class="table table-success table-striped table-bordered table-hover shadow-sm">
                <thead>
                  <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Descripcion</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">2</th>
                    <td>Colpatria</td>
                 
                  </tr>

                </tbody>
              </table>
        </div>
    </div>
</div>

