<div class="my-2 mb-3">
    <h3 class="mb-6">Crear nuevo banco</h3>
    <form>
         <div class="grid">
            <div class="col-6">
                <span class="p-float-label mb-4">
                    <input  id="codigo" pInputText />
                    <label htmlFor="codigo">Codigo</label>
                </span>
            </div>
            <div class="col-6">
                <span class="p-float-label mb-3">
                    <input pInputText id="descripcion" />
                    <label htmlFor="descripcion">Descripcion</label>
                </span>
            </div>
         </div>
        <button type="submit" pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2" ></button>
    </form>


</div>
